@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@800&display=swap');

/* global styles */

* {
  padding: 0;
  margin: 0;
}

body{  background: #012430; }

.container {
  height:  93vh;
  width:  100%;
  padding: 2em 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: -1;
}

/* the text content to side of grid */

.skills {
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  position:  relative;
  }

/* small text. content:  Ken Wall Front End Dev */
.soft {
  font-family: 'Overpass', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.4em;
  color:  #579dff;
  opacity:  0%;
  /*color:  rgb(204, 204, 204);*/
  margin:  0;
  padding:  0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.addAnimation{
  animation: animated-text 2s steps(30,end) 1s 1 normal both;
  opacity:  50%;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* text content:  Ken Wall*/
.leftText {
  position: absolute;
}

/* large text. Content:  SKILLS */
.hard {
  font-family: 'Overpass', sans-serif;
  font-size: 5em;
  letter-spacing: 8px;
  color:  white;
  margin-block-start: 0;
  margin-block-end: 0;
  opacity:  0;
  transition:  opacity ease-in 1s;
}

.hardAnimation {
  opacity:  1;
}

/* The grid section */

main {
  display: grid;
  grid-template-columns:  215px 215px 215px 215px;
  grid-template-rows:  215px 215px 215px;
}

/* each grid */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background:  none;
}

.gridimg {
  font-size: 150px;
  color:  white;
  opacity: 0;
  transition: opacity 1s ease-in;
  animation: float 7s ease-in-out infinite;
 }

 .fab {
  background: transparent;
 }

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.5);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(255, 255, 255, 0.1);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.5);
    transform: translatey(0px);
  }
}

  /* watermarks */

 .water {
    color: white;
    font-size: 40rem;
    position: fixed;
    visibility:  hidden;
    opacity: 20%;
    right: 20px;
    bottom: 20px;
    z-index: 0;
 }

